@import "tailwindcss";

:root {
  --background: #0F172A;
  --card: #111C2E;
  --primary-text: #E5E7EB;
  --secondary-text: #9CA3AF;
  --accent: #10B981;
}

@theme {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-accent: var(--accent);
}

body {
  background-color: var(--background);
  color: var(--primary-text);
}
